Objective
===
Pandas模組和分析CSV檔案

### Resources

**Selenium - HTML元素**

[尋找 HTML 元素](https://chercher.tech/python/webelement-locator)

### Problem

---
### Introduction
Pandas 主要用來執行數據處理與分析(由 panel、dataframe、series組成)

#### Ex: 查看 pandas 的版本

In [150]:
import pandas as pd
pd.__version__

'1.0.1'

##  Series物件

一種一維陣列資料結構，但因為一個是索引(index)或稱為標籤(label)，另一個是資料。可以存放```整數```、```浮點數```、```字串```、```Python物件```(例如: 字串list、字典dist...)、```Numpy的ndarray```、```純量```。

### Ex1: 使用串列 list 建立 Series 物件

Pandas 是以64位元整數儲存與處理，索引(index)是從0開始計數。
```python
dtype: int64
```

In [151]:
import pandas as pd
sl = pd.Series([11, 22, 33, 44, 55])
sl

0    11
1    22
2    33
3    44
4    55
dtype: int64

### Ex2: dict & Pandas.Series 

利用字典dict(key:value)，建立Series物件 
```python
# 得到的物件type
dtype: int64
```

In [152]:
import pandas as pd 
mydict = {'北京': 'Beijing', '東京': 'tokyo'}
s2 = pd.Series(mydict)
s2

北京    Beijing
東京      tokyo
dtype: object

### Ex3: np.array & Pandas.Series 

利用np.array，建立Series物件

In [153]:
import pandas as pd 
import numpy as np
s3 = pd.Series(np.arange(0, 7, 2))
s3

0    0
1    2
2    4
3    6
dtype: int32

### Ex4: 建立自訂索引的 Series物件

In [154]:
import pandas as pd 

myindex = [3, 5, 8]
price = [100, 5, 100]
n4 = pd.Series(price, index = myindex)
n4

3    100
5      5
8    100
dtype: int64

In [155]:
import pandas as pd 

myindex = ['Orange', 'Apple', 'Grapes']
price = [100, 5, 100]
n4_1 = pd.Series(price, index = myindex)
n4_1

Orange    100
Apple       5
Grapes    100
dtype: int64

In [156]:
import pandas as pd 

n4_2 = pd.Series([100, 5, 100], index = ['Orange', 'Apple', 'Grapes'])
n4_2

Orange    100
Apple       5
Grapes    100
dtype: int64

### Ex5: 使用純量建立 Series物件

In [157]:
import pandas as pd 
n5 = pd.Series(9, index = [1, 5, 8, 6, 10])
n5

1     9
5     9
8     9
6     9
10    9
dtype: int64

---
## 1. 列出 Series物件索引與值

```python
# 假設物件名稱是 obj, Series物件值 
obj.values
# 假設物件名稱是 obj, Seires物件索引
obj.index
```

### Ex6: 找Series index and value

In [158]:
import pandas as pd 

n6 = pd.Series([100, 5, 100], index = ['Orange', 'Apple', 'Grapes'])
print('index & dtype: ', n6.index)
print('values: ', n6.values)

index & dtype:  Index(['Orange', 'Apple', 'Grapes'], dtype='object')
values:  [100   5 100]

### Ex6: Slicing method in Series

In [180]:
import pandas as pd 

n7 = pd.Series([15, 1, 2, 3, 4, 5, 6, 7])
print('n7:\n', n7)
print('\nn7[::2]:\n', n7[:: 2])
print('\nn7[:2]\n', n7[:2])
print('\nn7[4:]\n', n7[4:])
print('\nn7[-1:]\n', n7[-1:])
print('\nn7[:-1]\n', n7[:-1])

n7:
 0    15
1     1
2     2
3     3
4     4
5     5
6     6
7     7
dtype: int64

n7[::2]:
 0    15
2     2
4     4
6     6
dtype: int64

n7[:2]
 0    15
1     1
dtype: int64

n7[4:]
 4    4
5    5
6    6
7    7
dtype: int64

n7[-1:]
 7    7
dtype: int64

n7[:-1]
 0    15
1     1
2     2
3     3
4     4
5     5
6     6
dtype: int64

### Ex7: Addition method in Series

In [160]:
import pandas as pd

x = pd.Series([1, 2])
y = pd.Series([3, 4])
x + y

0    4
1    6
dtype: int64

### Ex8: Logic method in Series

In [161]:
import pandas as pd

x = pd.Series([1, 2, 48])
y = pd.Series([3, 4, 12])
x > y

0    False
1    False
2     True
dtype: bool

### Ex8: Addition method with Same index in Series

下面例子可以了解到，不同的名稱 index 相加會得到 NaN。但是如果是相同名稱的 index，**不管在 list 裡面的位置如何，都會做加減乘除。**

In [162]:
import pandas as pd 

fruits = ['Orange', 'Apple', 'Grape']
x = pd.Series([1, 2, 48], index = fruits)
y = pd.Series([3, 4, 12], index = fruits)
x + y

Orange     4
Apple      6
Grape     60
dtype: int64

In [163]:
import pandas as pd 

fruits1 = ['Orange', 'Apple', 'Grape']
fruits2 = ['Orange', 'Banana', 'Apple']
x = pd.Series([1, 2, 48], index = fruits1)
y = pd.Series([3, 4, 12], index = fruits2)
x + y

Apple     14.0
Banana     NaN
Grape      NaN
Orange     4.0
dtype: float64

In [164]:
import pandas as pd

fruits = ['Orange', 'Apple', 'Grape']
x = pd.Series([1, 2, 48], index = fruits)
print(x['Apple'])
print('\n')
print(x[['Apple', 'Orange']])

print('\n')
print(x[['Apple', 'Orange', 'Grape']])

2


Apple     2
Orange    1
dtype: int64


Apple      2
Orange     1
Grape     48
dtype: int64

In [165]:
import pandas as pd
import numpy as np

fruits = ['Orange', 'Apple', 'Grape']
x = pd.Series([1, 2, 48], index = fruits)

print(x * 2 + 10)
print(x * np.sin(x))

Orange     12
Apple      14
Grape     106
dtype: int64
Orange     0.841471
Apple      1.818595
Grape    -36.876224
dtype: float64

---
##  DataFrame 
一種二維陣列資料結構，邏輯上相似於 Excel的工作表。可以存放```整數```、```浮點數```、```字串```、```Python物件```(例如: 字串list、字典dist...)、```Numpy的ndarray```、```純量```、...。

### 利用Series 建立 DataFrame 
### EX1: concat() method to imerge the data

建立"北京"、"香港"、"新加坡" 2020-2022 3月的平均溫度，成為3個Series物件

In [166]:
import pandas as pd 

# index March 2020-2022 avg-temp   
years = range(2020, 2024)

# 建立3個國家的 Series物件
beijing = pd.Series([20, 15, 19, 18], index = years)
hongkong = pd.Series([17, 21, 23, 19], index = years)
singapore = pd.Series([25, 23, 24, 26], index = years)

# concat() 預設的 axis = 0 不是我們預期的結果 
citydf = pd.concat([beijing, hongkong, singapore], axis = 0)

# 顯示物件型態
print(type(citydf))
print(citydf)

<class 'pandas.core.series.Series'>
2020    20
2021    15
2022    19
2023    18
2020    17
2021    21
2022    23
2023    19
2020    25
2021    23
2022    24
2023    26
dtype: int64

### 改變concat() 內的 axis 參數，會發現物件的data type = dataframe

In [167]:
import pandas as pd 

# index March 2020-2022 avg-temp   
years = range(2020, 2024)

# 建立3個國家的 Series物件
beijing = pd.Series([20, 15, 19, 18], index = years)
hongkong = pd.Series([17, 21, 23, 19], index = years)
singapore = pd.Series([25, 23, 24, 26], index = years)

# concat() 預設的 axis = 1 不是我們預期的結果 
citydf = pd.concat([beijing, hongkong, singapore], axis = 1)

# 顯示物件型態
print(type(citydf))
print(citydf)

<class 'pandas.core.frame.DataFrame'>
       0   1   2
2020  20  17  25
2021  15  21  23
2022  19  23  24
2023  18  19  26

### *.columns(), 加上欄位標籤 "北京"、"香港"、"新加坡"

In [168]:
import pandas as pd 

# index March 2020-2022 avg-temp   
years = range(2020, 2024)

# 建立3個國家的 Series物件
beijing = pd.Series([20, 15, 19, 18], index = years)
hongkong = pd.Series([17, 21, 23, 19], index = years)
singapore = pd.Series([25, 23, 24, 26], index = years)

# concat() axis = 1 得到完整的行列
citydf = pd.concat([beijing, hongkong, singapore], axis = 1)
city = ['beijing', 'hongkong', 'singapore']

# 加上欄位標籤 "北京"、"香港"、"新加坡" 
citydf.columns = city

# 顯示物件型態
print(type(citydf))
print(citydf)

<class 'pandas.core.frame.DataFrame'>
      beijing  hongkong  singapore
2020       20        17         25
2021       15        21         23
2022       19        23         24
2023       18        19         26

## 1. Series 物件的 name屬性

### Ex2: The "name" attribute in Series method 
在columns 加入國家名字

In [169]:
import pandas as pd 

# index March 2020-2022 avg-temp   
years = range(2020, 2024)

# 建立3個國家的 Series物件
beijing = pd.Series([20, 15, 19, 18], index = years, name = 'Beijing')
hongkong = pd.Series([17, 21, 23, 19], index = years, name = 'Hongkong')
singapore = pd.Series([25, 23, 24, 26], index = years, name = 'Singapore')

# concat() 預設的 axis = 1 不是我們預期的結果 
citydf = pd.concat([beijing, hongkong, singapore], axis = 1)

# 顯示物件型態
print(type(citydf))
print(citydf)

<class 'pandas.core.frame.DataFrame'>
      Beijing  Hongkong  Singapore
2020       20        17         25
2021       15        21         23
2022       19        23         24
2023       18        19         26

### Ex3. 使用元素是 dict 的串列建立 DataFrame

In [170]:
import pandas as pd
data = [{'apple':50,'Orange':30,'Grape':80}, {'apple':50,'Grape':80}]
fruits = pd.DataFrame(data)
print(fruits)

   apple  Orange  Grape
0     50    30.0     80
1     50     NaN     80

### Ex4: 使用字典(key: value[list])建立 DataFrame

In [171]:
import pandas as pd 

cities = {'country': ['China', 'Japan', 'Singapore'],
         'town': ['Beijing', 'Tokyo', 'Singapore'],
         'population': [2000, 1600, 600]}

cities = pd.DataFrame(cities)
print(cities)

     country       town  population
0      China    Beijing        2000
1      Japan      Tokyo        1600
2  Singapore  Singapore         600

### Ex5: 自定義Index屬性 

```python
cities = pd.DataFrame(cities, index = rowindex)
```

In [172]:
import pandas as pd 

cities = {'country': ['China', 'Japan', 'Singapore'],
         'town': ['Beijing', 'Tokyo', 'Singapore'],
         'population': [2000, 1600, 600]}

rowindex = ['first', 'second', 'third']
cities = pd.DataFrame(cities, index = rowindex)
print(cities)

          country       town  population
first       China    Beijing        2000
second      Japan      Tokyo        1600
third   Singapore  Singapore         600

### Ex6: 將 column當作 index，並只呈現資料中的幾個 columns

In [173]:
import pandas as pd
cities = {'country': ['China', 'Japan', 'Singapore'],
         'town': ['Beijing', 'Tokyo', 'Singapore'],
         'population': [2000, 1600, 600]}


citydf = pd.DataFrame(cities, columns= ['town', 'population'],
                      index = cities['country'])
print(citydf)

                town  population
China        Beijing        2000
Japan          Tokyo        1600
Singapore  Singapore         600

---
## 2. Pandas 資料分析與處理 

1. (index)索引參照屬性: <br>
```at``` : 使用 index 和 columns ```內容```取得或設定單一元素或陣列內容<br>
```iat``` : 使用 index 和 columns ```標號```取得或設定單一元素內容<br>
```loc``` : 使用 index 和 columns ```內容```取得或設定整個 row/ columns 資料或陣列內容<br>
```iloc``` : 使用 index 和 columns ```標號```取得或設定整個 row/ columns 資料<br>

### 2.1 利用一個 DataFrame測試索引屬性

In [174]:
import pandas as pd
cities = {'Country': ['China', 'China', 'Thailand', 'Japan', 'Singapore'],
          'Town': ['Beijing', 'Shanghai', 'Bangkok', 'Tokyo', 'Singapore'],
          'Population': [2000, 2300, 900, 1600, 600]}

df = pd.DataFrame(cities, columns=  ["Town","Population"],
                  index = cities["Country"])
print(df)

print('\n')
# 用 at屬性獲得某個 row, columns 的資料 
print("Test 'at': ", df.at['Japan', 'Population'])
print("Test 'at': ", df.at['China', 'Population'])

# 用 at屬性獲得某個 row, columns 的資料 
print("Test 'iat': ", df.iat[4, 0])

# 用 loc屬性獲得某些 row的資料 
print("Test 'loc': \n", df.loc[['Singapore', 'Japan']])
print("Test 'loc': \n", df.loc['China': 'Japan', 'Town': 'Population'])

print('\n')
# 用 iloc屬性獲得 row = 0 的資料
print("Test 'iloc': \n", df.iloc[0])

                Town  Population
China        Beijing        2000
China       Shanghai        2300
Thailand     Bangkok         900
Japan          Tokyo        1600
Singapore  Singapore         600


Test 'at':  1600
Test 'at':  [2000 2300]
Test 'iat':  Singapore
Test 'loc':
                 Town  Population
Singapore  Singapore         600
Japan          Tokyo        1600
Test 'loc':
               Town  Population
China      Beijing        2000
China     Shanghai        2300
Thailand   Bangkok         900
Japan        Tokyo        1600


Test 'iloc':
 Town          Beijing
Population       2000
Name: China, dtype: object

### 2.2 直接索引

**Reminding**
**這邊要注意，如果要看 dataframe特定的一個資料，要用dataframe['column']['index']，如果先 index 在column 會失敗**<br>
```python
print(df['col']['index'])
```

In [175]:
import pandas as pd
cities = {'Country':['China', 'China', 'Thailand', 'Japan', 'Singapore'],
          'Town':['Beijing', 'Shanghai', 'Bangkok', 'Tokyo', 'Singapore'],
          'Population':[2000, 2300, 900, 1600, 600]}

df = pd.DataFrame(cities, columns=  ["Town", "Population"],
                  index = cities["Country"])

# 直接取得 'Town' column下的資料
print(df['Town'])

# dataframe['column']['index']
print(df['Town']['China'])

China          Beijing
China         Shanghai
Thailand       Bangkok
Japan            Tokyo
Singapore    Singapore
Name: Town, dtype: object
China     Beijing
China    Shanghai
Name: Town, dtype: object

### 2.3 四則運算方法

* add(): 加法運算
* sub(): 減法運算
* mul(): 乘法運算
* div(): 除法運算

In [185]:
import pandas as pd

s1 = pd.Series([1, 2, 3])
s2 = pd.Series([4, 5, 6])

add_x = s1.add(s2)
sub_x = s1.sub(s2)
mul_x = s1.mul(s2)
div_x = s1.div(s2)

print(add_x)
print(sub_x)
print(mul_x)
print(div_x)

0    5
1    7
2    9
dtype: int640   -3
1   -3
2   -3
dtype: int64
0     4
1    10
2    18
dtype: int64
0    0.25
1    0.40
2    0.50
dtype: float64

In [198]:
import pandas as pd 

# 字典形式才可以直接 pd.dataFrame()
data_1 = [{'a': 10, 'b': 20}, {'a': 30, 'b': 40}]
df_1 = pd.DataFrame(data_1)
data_2 = [{'a': 1, 'b': 2}, {'a': 3, 'b': 4}]
df_2 = pd.DataFrame(data_2)

add_x = df_1.add(df_2)
sub_x = df_1.sub(df_2)
mul_x = df_1.mul(df_2)
div_x = df_1.div(df_2)

print(add_x, end = '\n\n')
print(sub_x, end = '\n\n')
print(mul_x, end = '\n\n')
print(div_x, end = '\n\n')

    a   b
0  11  22
1  33  44

    a   b
0   9  18
1  27  36

    a    b
0  10   40
1  90  160

      a     b
0  10.0  10.0
1  10.0  10.0

### 2.4 邏輯運算方法(僅適用於Pandas)

* gt()、lt(): 大於、小於運算
* ge()、le(): 大於或等於、小於或等於運算  
* eq()、ne(): 等於、不等於運算

In [206]:
import pandas as pd 

s1 = pd.Series([1, 5, 9])
s2 = pd.Series([2, 4 ,8])
gt_x = s1.gt(s2)
lt_x = s1.lt(s2)
ge_x = s1.ge(s2)

print('Greater than:\n', gt_x, end = '\n\n')
print('Less than:\n', lt_x, end = '\n\n')
print('Greater equal:\n', ge_x, end = '\n\n')

Greater than:
 0    False
1     True
2     True
dtype: bool

Less than:
 0     True
1    False
2    False
dtype: bool

Greater equal:
 0    False
1     True
2     True
dtype: bool

### 2.5 numpy應用在Pandas上

In [207]:
import pandas as pd
import numpy as np

name = ['Frank', 'Peter', 'John']
score = ['first', 'second', 'final']

# randint(start, end, size of metric)，隨機產生數值
df = pd.DataFrame(np.random.randint(60, 100, size = (3, 3)),
                  columns = name,
                  index = score)
print(df)

        Frank  Peter  John
first      75     85    62
second     86     62    65
final      98     86    63

### 2.6 NaN相關運算
[處理NaN相關method](https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html)

[randn() python](https://numpy.org/doc/stable/reference/random/generated/numpy.random.randn.html)
* **dropna()**: 將NaN刪除，然後傳回新的Series或 DataFrame 物件。
* **fillna(value)**: 將NaN由特定的Value取代，然後傳回新的Series或 DataFrame 物件
* **isna**: 判斷是否為 NaN，如果是傳回True，如果否則傳回False
* **notna**: 判斷是否為NaN，如果是傳回False，如果否傳回True

In [226]:
import pandas as pd
import numpy as np

# 創一個 5 by 3 metric with random value
df = pd.DataFrame(np.random.randn(5, 3), index = ['a', 'c', 'b', 'f', 'g'], \
                 columns = ['one', 'two', 'three'])
df['four'] = 'bar'
df['five'] = df['one'] > 0
df2 = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print('df\n', df, end = '\n\n')
print('df2\n', df2, end = '\n\n')
# isna ()
print('isna\n', df2.isna(), end = '\n\n')
# dropna()
print('dropna\n', df2.dropna(), end = '\n\n')
# fillna()
print('fillna\n', df2.fillna(20.3), end = '\n\n')

df
         one       two     three four   five
a -1.723974 -0.544904  0.147253  bar  False
c  0.596331 -0.676226  1.087980  bar   True
b  1.396781  0.742324 -0.394887  bar   True
f -0.228591 -1.268186  1.020992  bar  False
g  2.854522  0.352496  0.190567  bar   True

df2
         one       two     three four   five
a -1.723974 -0.544904  0.147253  bar  False
b  1.396781  0.742324 -0.394887  bar   True
c  0.596331 -0.676226  1.087980  bar   True
d       NaN       NaN       NaN  NaN    NaN
e       NaN       NaN       NaN  NaN    NaN
f -0.228591 -1.268186  1.020992  bar  False
g  2.854522  0.352496  0.190567  bar   True
h       NaN       NaN       NaN  NaN    NaN

isna
      one    two  three   four   five
a  False  False  False  False  False
b  False  False  False  False  False
c  False  False  False  False  False
d   True   True   True   True   True
e   True   True   True   True   True
f  False  False  False  False  False
g  False  False  False  False  False
h   True   True   True   True   True

dropna
         one       two     three four   five
a -1.723974 -0.544904  0.147253  bar  False
b  1.396781  0.742324 -0.394887  bar   True
c  0.596331 -0.676226  1.087980  bar   True
f -0.228591 -1.268186  1.020992  bar  False
g  2.854522  0.352496  0.190567  bar   True

fillna
          one        two      three  four   five
a  -1.723974  -0.544904   0.147253   bar  False
b   1.396781   0.742324  -0.394887   bar   True
c   0.596331  -0.676226   1.087980   bar   True
d  20.300000  20.300000  20.300000  20.3   20.3
e  20.300000  20.300000  20.300000  20.3   20.3
f  -0.228591  -1.268186   1.020992   bar  False
g   2.854522   0.352496   0.190567   bar   True
h  20.300000  20.300000  20.300000  20.3   20.3